NEXT_PUBLIC_SITE_URL=https://gamebeat.online
LOSTARK_API_KEY=
NEXON_API_KEY=
RIOT_API_KEY=

NEXT_PUBLIC_ADSTERRA_BANNER_KEY=
NEXT_PUBLIC_ADSTERRA_SOCIAL_KEY=
NEXT_PUBLIC_ADSTERRA_PUSH_KEY=
NEXT_PUBLIC_ADSTERRA_POPUNDER_KEY=
NEXT_PUBLIC_ADSTERRA_MULTITAG_KEY=

AWS_REGION=us-east-1
AWS_ACCOUNT_ID=
